<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
    >
      <b-carousel-slide img-src="/images/carousel/online.jpg">
        <h1>Antrenamente online</h1>
        <p>În această perioadă folosim și noi tehnologia pentru a face antrenamente online</p>
      </b-carousel-slide>

      <b-carousel-slide img-src="/images/carousel/home_02.jpg">
        <h1>Ashihara Karate</h1>
      </b-carousel-slide>

      <b-carousel-slide img-src="/images/carousel/home_06.jpg">
        <h1>Aerobic - Tae Bo</h1>
        <p>"Mișcarea face bine"</p>
      </b-carousel-slide>

      <b-carousel-slide img-src="/images/carousel/home_03.jpg">
       <p>“O picătură de sudoare<br/>
valorează mai mult decât o<br/>
mie de cuvinte”</p>
      </b-carousel-slide>

      <b-carousel-slide img-src="/images/carousel/home_07.jpg">
        <h1>Fitness cu Liviu Tăbăcaru</h1>
        <p>"Vârsta este doar un număr"</p>
      </b-carousel-slide>

      <b-carousel-slide img-src="/images/carousel/home_04.jpg" >
       <p>“Înveti să lupți ca să nu lupți”</p>
      </b-carousel-slide>

      <b-carousel-slide img-src="/images/carousel/home_05.jpg" >
       <p>"O picătură de sudoare<br/>
valorează mai mult decât o<br/>
mie de cuvinte"</p>
      </b-carousel-slide>
    </b-carousel>

    <!-- <p class="mt-4">
      Slide #: {{ slide }}<br>
      Sliding: {{ sliding }}
    </p> -->
  </div>
</template>

<script>
export default {
  data () {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}
</script>
