<template>
  <div class="pHead_wrapper">
    <header class="pHead_mobile uHide-lapUp">
      <b-row>
        <b-col cols="6" class="text-left">
          <img src="/images/logo/skc_color_128.png" width="48" alt="Shingitai Karate Club" class="mx-3 my-2">
        </b-col>
        <b-col cols="6" class="text-right">
          <span
            style="text-align: left; display: inline-block; width: 2rem; margin: .8rem 1rem 0 0; font-size: .8rem;"
            @click="toggleMenu"
          >
            <menu-icon :isOpen="menuOpen" />
          </span>
        </b-col>
      </b-row>
    </header>
    <header class="pHead uHide-lapDown">
      <aside class="pHead_side" aria-label="Left menu">
        <nuxt-link to="/" no-prefetch>
          Despre noi
        </nuxt-link>
        <nuxt-link to="/campioni" no-prefetch>
          Campioni
        </nuxt-link>
        <nuxt-link to="/media" no-prefetch>
          Media
        </nuxt-link>
      </aside>

      <div class="pHead_midd">
        <h1>Shingitai Karate Club</h1>
        <nuxt-link to="/" no-prefetch>
          <img src="/images/logo/skc_128.png" alt="Shingitai Karate Club">
        </nuxt-link>
      </div>

      <aside class="pHead_side" aria-label="Right menu">
        <nav role="navigation">
          <nuxt-link to="/karate" no-prefetch>
            Karate
          </nuxt-link>
          <nuxt-link to="/fitness-aerobic-tae-bo" no-prefetch>
            Fitness
          </nuxt-link>
          <nuxt-link to="/contact" no-prefetch>
            Contact
          </nuxt-link>
        </nav>
      </aside>
    </header>
  </div>
</template>

<script>
import MenuIcon from '../icons/menu';

export default {
  name: 'LayoutHeader',
  components: {
    MenuIcon
  },
  data () {
    return {
      menuOpen: false
    }
  },
  methods: {
    toggleMenu () {
      this.menuOpen = !this.menuOpen;
    }
  }
}
</script>

<style lang="scss">
.pHead {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 2;

  display: flex;
  width: 100%;
  // background-color: rgba(0,0,0, .5);
  // background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.0) 100%);

  border-radius: 2rem;
  // box-shadow: 0 0 3px #666;
  margin: 2rem 0;
  padding: 1rem;
  color: #fff;

  &_wrapper {
    position: relative;
  }

  &_midd {
    display: inline-block;
    text-align: center;
    // overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    order: 0;
    min-width: 128px;
    margin: -2.5rem 0;

    h1 {
      position: absolute;
      top: -80rem;
    }

    img {
      transition: transform .8s;
      transform: scale(.8);

      &:hover {
        transform: scale(1);
      }
    }
  }

  &_side {
    display: inline-block;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    order: 0;

    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }

    a {
      transition: color .4s;
      color: rgba(#eee, 1);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 3;
      margin: 0 .5rem;
      text-shadow: 1px 1px 1px #333;
      transition: all .5s;
      padding: 0 1rem;
      border-radius: 4rem;

      &:hover {
        padding: 1rem;
        background-color: rgba(0,0,0,.5);
        color: #fff;
        text-decoration: none;
      }

      &.nuxt-link-exact-active {
        padding: 1rem;
        background-color: #ed3237;
        color: #fff;
        text-shadow: none;
      }
    }
  }

  &_menu {
    display: inline-block;
    width: 48px;
    height: 48px;
  }
}

.carousel-inner:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0,0,0,1);
  background: linear-gradient(0deg, #000 0%, rgba(0,0,0,.5) 50%);

}
</style>
