<template>
  <main>
    <liviu-carousel />
    <band theme="Dark">
        <div style="margin: 0 10%;">
          <b-embed
            width="100%"
            type="iframe"
            aspect="16by9"
            src="https://www.youtube.com/embed/3OWMdPJeclM?rel=0"
            allowfullscreen
          ></b-embed>
        </div>
    </band>

  </main>
</template>

<script>
import LiviuCarousel from '~/components/carousels/LiviuCarousel'
import Band from '~/components/base/band'

const PAGE_TITLE = 'Aerobic, Tae Bo, Fitness - Shingitai Karate Club';
const PAGE_DESCRIPTION = 'Club de aerobic fondat de Sensei Liviu Tăbăcaru - antrenorul emerit al sportului.';
const HOST = process.env.BASE_URL; // 'http://shingitai-karate-club.ro';
const PAGE_IMAGE = HOST + '/images/carousel/home_05.jpg';

export default {
  head () {
    return {
      title: PAGE_TITLE,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: PAGE_DESCRIPTION
        },
        {
          hid: 'og:title',
          property: 'og:tile',
          content: PAGE_TITLE
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: PAGE_DESCRIPTION
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: PAGE_IMAGE
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: HOST
        }

      ]
    }
  },
  components: {
    LiviuCarousel,
    Band
  }
}
</script>
