<template>
  <main>
    <liviu-carousel />

    <band theme="Dark">
        <div style="margin: 0 10%;">
          <b-embed
            width="100%"
            type="iframe"
            aspect="16by9"
            src="https://www.youtube.com/embed/mMYeT-kM6qk?rel=0"
            allowfullscreen
          ></b-embed>
        </div>
    </band>

    <band theme="Light">
      <b-row>
        <div class="oBand_img toLeft-lapUp" style="background-image: url('/images/liviu/LiviuTabacaru_03.jpg')"></div>
        <b-col md="6"></b-col>
        <b-col md="6">
          <aside class="oBand_text">
            <h2 id="Section1Title">Antrenorul emerit al sportului <br/> Sensei Liviu Tăbăcaru</h2>
            <p><strong>Shingitai Karate Club</strong>, a luat naștere la
  Brașov, în luna februarie 1992, avându-l drept
  fondator pe <strong>antrenorul emerit al sportului Sensei Liviu Tăbăcaru</strong>. Printre primele
  cluburi private de arte marțiale întemeiate în
  Brașov după 1990, <strong>Shingitai</strong> este afiliat la
  <strong>Federația Română de Arte Marțiale (FRAM)</strong> și
  <strong>New International Karate Organization (NIKO)</strong> –
  for cu sediul la <strong>Matsuyama (Japonia)</strong> și prezidat
  de <strong>Kancho Hidenori Ashihara</strong>. În limba japoneză,
  "shin" înseamnă spirit, "gi" se traduce printr-o bună
  pregătire fizică și tehnică, iar "tai", prin corp. Într-o
  traducere liberă, <strong>Shingitai</strong> înseamnă <strong>"luptător
  complet"</strong>.</p>
          </aside>
        </b-col>
      </b-row>
    </band>

    <band theme="Dark">
        <div style="margin: 0 10%;">
          <b-embed
            width="100%"
            type="iframe"
            aspect="16by9"
            src="https://www.youtube.com/embed/_sKaj8cZlKU?rel=0"
            allowfullscreen
          ></b-embed>
        </div>
    </band>

  </main>
</template>

<script>
import Band from '~/components/base/band'
import LiviuCarousel from '~/components/carousels/LiviuCarousel'

const PAGE_TITLE = 'Shingitai Karate Club';
const PAGE_DESCRIPTION = 'Club de karate fondat de Sensei Liviu Tăbăcaru - antrenorul emerit al sportului.';
const HOST = process.env.BASE_URL; // 'http://shingitai-karate-club.ro';
const PAGE_IMAGE = HOST + '/images/carousel/home_05.jpg';

export default {
  head () {
    return {
      title: 'Shingitai Karate Club',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: PAGE_DESCRIPTION
        },
        {
          hid: 'og:title',
          property: 'og:tile',
          content: PAGE_TITLE
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: PAGE_DESCRIPTION
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: PAGE_IMAGE
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: HOST
        }
      ]
    }
  },
  components: {
    LiviuCarousel,
    Band
  }
}
</script>
