<template>
  <main>
    <vulcan-carousel />

    <band theme="Dark" id="Vulcan">
      <b-row>
        <b-col md="6">
          <aside class="oBand_text" aria-labelledby="#Section1Title">
            <h2 id="Section1Title">Vulcan</h2>
            <address>
              <h5>Adresa</h5>
              <strong>
                Centrul Comunitar Vulcan<br/>(Casa de cultură)
              </strong><br/>
              Strada Pricipală Nr. 305 <br />
              Comuna Vulcan, Brașov<br />
              Telefon: <a href="tel:0721282696">0721.282.696</a>
            </address>

            <h5>Orar</h5>
            <p>
              Marți și Joi: 18.00 - 20.00
            </p>

            <h5>Instructor</h5>
            <p>
              <a href="#Vulcan">
                <strong>Senpai Mihail Preda</strong><br/>
                <span>2kyu</span>
              </a>
            </p>
          </aside>
        </b-col>
        <div class="oBand_img toRight-lapUp" style="background-image: url('/images/locatii/vulcan.jpg'); background-position: top center;"></div>
      </b-row>
    </band>

    <band theme="Light" id="Vulcan2">
      <b-row>
        <div class="oBand_img toLeft-lapUp" style="background-image: url('/images/vulcan/vulcan_05.jpg'); background-position: center top;"></div>
        <b-col md="6"></b-col>
        <b-col md="6">
          <aside class="oBand_text" aria-labelledby="#SectionClujTitle">
            <h2 id="SectionClujTitle">Senpai Mihail Preda</h2>
            <p>
              Data nașterii: 21.11.1974 <br />
              Grad: 2kyu
            </p>
            <p>
              A început "Ashihara Karate", în anul 1994 la liceul "Unirea", din Brașov, sub îndrumarea lui Senpai Jean Mangaru.
            </p>
            <p>
              Din anul 2014, se antrenează la clubul "Shingitai Karate Club", avându-l ca antrenor pe Sensei Liviu Tăbcaru.
            </p>
            <p>
              În anul 2015, împreuna cu Sensei Liviu Tăbăcaru, deschid filiala de la Vulcan al clubului, la Centrul Comunitar (Casa de Cultură) din Vulcan.
Tot în acest an, Senpai Mihail Preda devine instructor al clubului "Shingitai Karate Club".
            </p>
          </aside>
        </b-col>
      </b-row>
    </band>

    <band theme="Dark" id="Vulcan">
      <b-row>
        <b-col md="6">
          <aside class="oBand_text" aria-labelledby="#Section1Title">
            <h2 id="Section1Title">Dutca Antonio</h2>
            <div><b>Data nasterii: 21.07.2006</b></div>
            <div><b>grad-2 kyu</b></div>
            <p>Palmares:</p>
            <ul>
              <li>Campion Mondial -2018,proba,kata echipe, 🏆</li>
              <li>Medalie de bronz la proba kata individual, Campionatul Mondial 2018. 🥈</li>
              <li>Medalie de bronz la proba de kumite, Campionatul Mondial 2018, 🥈</li>
              <li>Campion National-2018, proba, kata echipe, 🏆 </li>
              <li>Campion National-2019, proba kata echipe, 🏆</li>
              <li>Vicecampion National-2013, 2017, 2018 kata, 🏆</li>
              <li>Vicecampion National-2018, kumite, 🏆</li>
              <li>Medalie  de bronz-kata individual, Campionatul National-2019, 🥈</li>
              <li>Medalie de bronz-kumite, Campionatul National-2019 🥈</li>
          </ul>
          </aside>
        </b-col>
        <div class="oBand_img toRight-lapUp" style="background-image: url('/images/vulcan/vulcan_07.jpg'); background-position: top center;"></div>
      </b-row>
    </band>

    <band theme="Light" id="Vulcan2">
      <b-row>
        <div class="oBand_img toLeft-lapUp" style="background-image: url('/images/vulcan/vulcan_08.jpg'); background-position: center top;"></div>
        <b-col md="6"></b-col>
        <b-col md="6">
          <aside class="oBand_text" aria-labelledby="#SectionClujTitle">
            <h2 id="SectionClujTitle">Gherman Eduard</h2>
            <div><b>Data nasterii: 23.08.2011</b></div>
            <div><b>grad-8 kyu</b></div>
            <p>Palmares:</p>
            <ul>
              <li>Campion National-2018,proba kata individual, 🏆</li>
              <li>Vicecampion National-2019,proba kumite,🥈</li>
              <li>Vicecampion National-2019,proba kata individual, 🥈</li>
          </ul>
          </aside>
        </b-col>
      </b-row>
    </band>

    <band theme="Dark" id="Vulcan">
      <b-row>
        <b-col md="6">
          <aside class="oBand_text" aria-labelledby="#Section1Title">
            <h2 id="SectionClujTitle">Patras Alexandru</h2>
            <div><b>Data nasterii: 22.01.2003</b></div>
            <div><b>grad-7 kyu</b></div>
            <p>Palmares:</p>
            <ul>
              <li>Medalie de bronz-kumite Campionatul National-2017🥈</li>
              <li>Medalie de bronz-kumite Campionatul National-2018 🥈</li>
              <li>Medalie de bronz-kumite Campionatul National-2019 🥈</li>
          </ul>
          </aside>
        </b-col>
        <div class="oBand_img toRight-lapUp" style="background-image: url('/images/vulcan/vulcan_06.jpg'); background-position: top center;"></div>
      </b-row>
    </band>
  </main>
</template>

<script>
import VulcanCarousel from '~/components/carousels/VulcanCarousel'
import Band from '~/components/base/band'

const PAGE_TITLE = 'Shingitai Karate - Vulcan';
const PAGE_DESCRIPTION = 'Club de karate și aerobic fondat de Sensei Liviu Tăbăcaru - antrenorul emerit al sportului.';
const HOST = process.env.BASE_URL; // 'http://shingitai-karate-club.ro';
const PAGE_IMAGE = HOST + '/images/carousel/home_05.jpg';

export default {
  head () {
    return {
      title: PAGE_TITLE,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: PAGE_DESCRIPTION
        },
        {
          hid: 'og:title',
          property: 'og:tile',
          content: PAGE_TITLE
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: PAGE_DESCRIPTION
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: PAGE_IMAGE
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: HOST
        }
      ]
    }
  },
  components: {
    VulcanCarousel,
    Band
  }
}
</script>
